<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add Student</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="create">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Student ID</label>
                                    <input type="text" class="form-control" v-model="student.std_id" v-on:keypress="onChange">
                                    <p style="color:red;">{{ errors.std_id }}</p>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" v-model="student.name">
                                </div>
                            </div>
                            
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" v-model="student.address">
                                </div>
                                
                            </div>
                            <dvi>
                                <label class="radio mr-2">
                                    <input class="details-input" type="radio" name="status_radio"  value="M" v-model="student.sex" :checked="student.sex == null"/> Male
                                </label>
                                <label class="radio">
                                        <input class="details-input" type="radio" name="status_radio" value="F" v-model="student.sex"/> Female
                                </label>
                            </dvi>
                            <div>
                                <label>DoB</label>
                                <!-- <datepicker v-model="student.dob" name="dob" format="yyyy-MM-dd"></datepicker> -->
                                <input type="date" value="2017-06-01" v-model="student.dob" onkeypress="return false">
                            </div>
                            <div class="col-12 mb-2">
                                <button id="submit" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Datepicker from 'vuejs-datepicker';
//Vue.prototype.moment = moment

export default{
    name:"add-student",
    components: {
    Datepicker
  },
    data(){
        return{
            errors: [],
            student:{
                name:"",
                std_id: '',
                address: "",
                sex: "",
                dob:"",
                age: ""
            },
            birthDate: "",
        }
    },
    methods:{
        async create(){
            //this.student.dob = String(this.student.dob).split('T')[0];
            //alert(String(this.student.dob).split('T')[0])
            const birthDate = new Date(this.student.dob);
            
            const currentDate = new Date();
            if (new Date(birthDate) > currentDate) {
                alert('Invalid Date of Birth')
            }

            const diffTime = currentDate - new Date(birthDate);
            const totalDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));
            const years = Math.floor(totalDays / 365.25);
            this.student.age = years;
            console.log(this.student.dob)
            await this.axios.post('/api/student', this.student).then(response=>{
                this.$router.push({name:"studentList"})
            }).catch(error=>{
                if(error.response.status === 422) {
                        this.errors = error.response.data.errors || {};
                }
                console.log(this.errors)
            })
        },
        onChange: function (){
            this.errors = [];
        }
    }
}
</script>