<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Update Student</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="update">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" v-model="student.name">
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name:"update-student",
    data(){
        return{
            student:{
                name:"",
                _method:"patch"
            }
        }
    },
    mounted(){
        this.showStudent()
    },
    methods:{
        async showStudent(){
            await this.axios.get('/api/student/'+this.$route.params.id).then(response=>{
                const { name } = response.data
                this.student.name = name
            }).catch(error=>{
                console.log(error)
            })
        },
        async update(){
            await this.axios.post('/api/student/'+this.$route.params.id, this.student).then(response=>{
                this.$router.push({name:"studentList"})
            }).catch(error=>{
                console.log(error)
            })
        }
    }
}
</script>